---
import Card from "./Card.astro";
---

<section class="cards">
  <Card
    title="驴Qu茅 es Arch Linux? "
    name="arch"
    href="https://archlinux.org/download/"
    img="/imgs/arch-linux-image.png"
  >
    Arch Linux es una distribuci贸n de Linux que sigue el enfoque de dise帽o de <strong
      >"Rolling Release"</strong
    >(lanzamiento continuo), lo que significa que no tiene versiones espec铆ficas
    y en su lugar proporciona actualizaciones continuas para mantener el sistema
    actualizado. Es conocida por su filosof铆a de simplicidad, minimalismo y
    cercan铆a a lo que se considera <strong>"vanilla"</strong> o sin
    modificaciones del software upstream.
  </Card>
  <Card
    title="驴Qu茅 es Debian Linux? "
    name="debian"
    href="https://www.debian.org/download"
    img="/imgs/debian-linux-image.jpg"
  >
    Debian es un sistema operativo y una distribuci贸n de Linux que se compone
    principalmente de software de
    <strong>c贸digo abierto</strong>. Fue creado por Ian Murdock en 1993 y
    nombrado como una combinaci贸n de su nombre y el de su entonces novia (ahora
    esposa), Debra. Debian se ha convertido en una de las distribuciones de Lin
    ux m谩s populares y ha influido en el desarrollo de muchas otras
    distribuciones.
  </Card>
  <Card
    title="驴Qu茅 es Ubuntu Linux? "
    name="ubuntu"
    href="https://ubuntu.com/download/desktop"
    img="/imgs/ubuntu-linux-image.png"
    isLazyLoading={true}
  >
    Ubuntu, una distribuci贸n de Linux lanzada en 2004 por Mark Shuttleworth, se
    destaca como una opci贸n popular tanto para usuarios principiantes como para
    aquellos m谩s experimentados.
    <strong>Basada en Debian</strong>, Ubuntu ha alcanzado una amplia adopci贸n
    debido a su enfoque en la facilidad de uso y su programaci贸n predecible de
    lanzamientos cada seis meses. Shuttleworth, fundador de Canonical Ltd.,
    respald贸 financieramente el proyecto y contribuye al desarrollo de Debian,
    manteniendo una relaci贸n colaborativa en el ecosistema del software libre.
    Ubuntu ha desarrollado su propia identidad con caracter铆sticas como el
    entorno de escritorio Unity, brindando a los usuarios una experiencia
    amigable en un sistema operativo s贸lido y accesible.
  </Card>
  <Card
    title="驴Qu茅 es CENTOS Linux? "
    name="centos"
    href="https://www.centos.org/download"
    img="/imgs/centos-linux-image.png"
    isLazyLoading={true}
  >
    CentOS es una distribuci贸n de Linux
    <strong
      >derivada del c贸digo fuente de Red Hat Enterprise Linux (RHEL)</strong
    >. Lanzada en 2004, CentOS se ha ganado una reputaci贸n por ser una opci贸n
    estable y de c贸digo abierto para entornos de servidores. La comunidad CentOS
    juega un papel crucial en su desarrollo, manteniendo la filosof铆a de
    estabilidad de RHEL pero sin el costo de suscripci贸n. Aunque Red Hat ha
    experimentado cambios en su estrategia de soporte para CentOS, con el
    anuncio de CentOS Stream en 2020, la versi贸n 8 de CentOS a煤n mantiene la
    tradici贸n de ofrecer un sistema operativo robusto y de alto rendimiento para
    servidores empresariales y entornos cr铆ticos.
  </Card>
  <Card
    title="驴Qu茅 es Fedora Linux? "
    name="fedora"
    href="https://fedoraproject.org/workstation"
    img="/imgs/fedora-linux-image.jpg"
    isLazyLoading={true}
  >
    Fedora es una distribuci贸n de Linux respaldada por la comunidad y
    desarrollada por la comunidad Fedora, un proyecto patrocinado por Red Hat.
    Lanzada en 2003, Fedora se enfoca en
    <strong
      >ser una plataforma de vanguardia que incorpora las 煤ltimas tecnolog铆as y
      caracter铆sticas de software</strong
    >. Es conocida por su ciclo de lanzamiento r谩pido, con nuevas versiones
    aproximadamente cada seis meses, lo que permite a los usuarios acceder a las
    煤ltimas innovaciones en software y caracter铆sticas del kernel de Linux.
    Fedora sirve como un terreno de pruebas para las tecnolog铆as que
    eventualmente se integran en Red Hat Enterprise Linux. Su 茅nfasis en la
    innovaci贸n y la adopci贸n temprana de tecnolog铆as emergentes atrae a usuarios
    que buscan una experiencia de escritorio moderna y un entorno de desarrollo
    actualizado.
  </Card>
</section>
