---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <h1>Distribuciones Linux</h1>
  <div>
    <HeaderLink href="/" imgName="linux" imgSrc="/icon.png" />
    <HeaderLink
      href="/about"
      imgName="about"
      imgSrc="/imgs/about-image.png"
      id="first-image"
    />
    <HeaderLink
      href="https://github.com/EduardYan"
      imgName="github"
      imgSrc="/imgs/github-image.png"
      isExternalLink={true}
      id="second-image"
    />
  </div>
</header>
<style>
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 1.5em;
  }

  @media (width < 600px) {
    header {
      display: block;
    }

    header h1 {
      text-align: center;
    }

    header div {
      margin: 0 auto;
      text-align: center;
    }
  }
</style>
